.titulo-pagina{
    font-family: "Inter", sans-serif;
    color: #A71919;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.text-principal {
    color: #A71919;
    font-size: 0.7em;
}
.text-dados{
    color: #000000;
    font-size: 0.7em;
}