.conteudo-pagina{
    margin-left:300px;
}

.cabecalho {
    margin-bottom: 0px;
    color: #A71919;
    font-size: 2em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}