<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/avaliacao.css">
    <title>Avaliações</title>
</head>
<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primarystyle button" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button" id="meuPerfilButton">Meu perfil</button>
        <button type="button" class="btn-primarystyle button" id="estatisticasButton">Estatísticas</button>
        <button type="button" class="btn-primarystyle button" id="verAvaliacoesButton">Ver avaliações</button>
        <button type="button" class="btn-primarystyle button" id="cadastrarCardapioButton">Cadastrar cardápio</button>
        <button type="button" class="btn-primarystyle button" id="cadastrarAvisoButton">Cadastrar aviso</button>
        <button type="button" class="btn-primarystyle button" id="solicitacoesAssistenciaButton">Solicitações de Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/usuario/tela-inicial-nutricionista";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil-nutricionista";
        };
        document.getElementById("estatisticasButton").onclick = function () {
            window.location.href = "/usuario/estatisticas-nutricionista";
        }
        document.getElementById("verAvaliacoesButton").onclick = function () {
            window.location.href = "/avaliacao/visualizar";
        };
        document.getElementById("cadastrarCardapioButton").onclick = function () {
            window.location.href = "/cardapio/cadastrar-cardapio-nutricionista";
        }
        document.getElementById("cadastrarAvisoButton").onclick = function () {
            window.location.href = "/aviso/cadastrar-aviso-nutricionista";
        }
        document.getElementById("solicitacoesAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitacoes-assistencia-nutricionista";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>
</div>

<div class="texto">

    <h2 class="titulo-pagina">Histórico de avaliações</h2>
    <div class="row col-12">
        <div th:each="avaliacao : ${avaliacoes}" class="col-md-4 mb-4">
            <div class="">
                <div class="p-2">
                    <div>
                        <h4 th:text="${avaliacao.cardapio.tipoRefeicao + ' - ' + avaliacao.cardapio.tipoCardapio + ' - ' + avaliacao.cardapio.data}" ></h4>
                        <h5>
                            <span class="text-principal">Prato principal: </span>
                            <span class="text-dados" th:text="${avaliacao.cardapio.pratoPrincipal}"></span>
                            <div>
                                <span class="text-principal">Acompanhamentos: </span>
                                <span class="text-dados" th:text="${avaliacao.cardapio.acompanhamento}"></span>
                            </div>
                            <span class="text-principal">Descrição:</span>
                            <span class="text-dados" th:text="${avaliacao.descricao}"></span>
                        </h5>

                    </div>
                    <div class="estrelas">
                        <label th:each="star : ${#numbers.sequence(1,5)}" th:class="${avaliacao.quantidadeEstrelas >= star} ? 'filled' : ''"><i class="fa"></i></label>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        document.querySelectorAll('.formulario-card').forEach((card) => {
            const cardId = card.id.split('_')[1];
            const selectElement = card.querySelector('select');

            if (selectElement) {
                selectElement.addEventListener("change", function () {
                    document.getElementById(`cardapioId_${cardId}`).value = this.value;
                });
            }

            card.querySelectorAll('input[name^="fb_"]').forEach((input) => {
                input.addEventListener("change", function () {
                    document.getElementById(`quantidadeEstrelas_${cardId}`).value = this.value || "0";
                });
            });

            card.querySelector('textarea[id^="descricao_"]').addEventListener("input", function () {
                document.getElementById(`quantidadeEstrelas_${cardId}`).value = card.querySelector(`input[name="fb_${cardId}"]:checked`).value || "0";
            });
        });

    </script>
</div>

</body>
</html>
