<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/avaliacao.css">

    <title>Avaliações</title>
</head>

<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primarystyle button" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button" id="sobreORuButton">Sobre o RU</button>
        <button type="button" class="btn-primarystyle button" id="meuPerfilButton">Meu Perfil</button>
        <button type="button" class="btn-primarystyle button" id="avaliaçõesButton">Avaliações</button>
        <button type="button" class="btn-primarystyle button" id="solicitarAssistenciaButton">Solicitar Assistência
        </button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>

    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/cardapio/tela-inicial-comum";
        };
        document.getElementById("sobreORuButton").onclick = function () {
            window.location.href = "/usuario/sobre-o-ru";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil";
        };
        document.getElementById("avaliaçõesButton").onclick = function () {
            window.location.href = "/avaliacao/cadastrar";
        };
        document.getElementById("solicitarAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitar-assistencia";
        };
        document.getElementById("sairButton").onclick = function () {
            window.location.href = "/usuario/login";
        };
    </script>
</div>

<div class="texto">

    <div class="container mt-5">
        <h2 class="titulo-pagina">Refeições para avaliações</h2>
        <div class="row col-12">
            <div th:each="cardapio : ${cardapios}" class="col-md-2 mb-4">
                <div class="card formulario-card">
                    <div class="formulario p-2">
                        <h5 class="data" th:text="${cardapio.data}"></h5>

                        <h3 class="titulocard" th:text="${cardapio.tipoRefeicao + ' ' + cardapio.tipoCardapio}"></h3>
                        <h5>
                            <span class="text-principal">Prato principal: </span>
                            <span class="text-dados" th:text="${cardapio.getPratoPrincipal()}"></span>
                            <div>
                                <span class="text-principal">Acompanhamentos: </span>
                                <span class="text-dados" th:text="${cardapio.getAcompanhamento()}"></span>
                            </div>
                        </h5>
                        <form action="/avaliacao/cadastrar" method="post">
                            <div class="form-group">
                                <label>Quantidade de Estrelas:</label>
                                <select class="form-control custom-select" name="quantidadeEstrelas">
                                    <option value="1">1 Estrela</option>
                                    <option value="2">2 Estrelas</option>
                                    <option value="3">3 Estrelas</option>
                                    <option value="4">4 Estrelas</option>
                                    <option value="5">5 Estrelas</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="descricao_${cardapio.id}">Descrição:</label>
                                <textarea class="form-control custom-textarea" id="descricao_${cardapio.id}"
                                          name="descricao" rows="4"></textarea>
                            </div>
                            <input type="hidden" name="data" value="">
                            <input type="hidden" name="tipoRefeicao" th:value="${cardapio.tipoRefeicao}">
                            <input type="hidden" name="tipoCardapio" th:value="${cardapio.tipoCardapio}">
                            <input type="hidden" name="quantidadeEstrelas" id="quantidadeEstrelas_${cardapio.id}"
                                   value="">
                            <div class="form-group text-center">
                                <input type="submit" class="button-cadastrar-avaliacao btn-cadastrar-avaliacao"
                                       value="Cadastrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="titulo-pagina">Histórico de avaliações</h2>
        <div class="row col-12">
            <div th:each="avaliacao : ${avaliacoes}" class="col-md-4 mb-4">
                <div class="">
                    <div class="p-2">
                        <div>
                            <h4 th:text="${avaliacao.cardapio.tipoRefeicao + ' - ' + avaliacao.cardapio.tipoCardapio + ' - ' + avaliacao.cardapio.data}" ></h4>
                            <h5>
                                <span class="text-principal">Prato principal: </span>
                                <span class="text-dados" th:text="${avaliacao.cardapio.pratoPrincipal}"></span>
                                <div>
                                    <span class="text-principal">Acompanhamentos: </span>
                                    <span class="text-dados" th:text="${avaliacao.cardapio.acompanhamento}"></span>
                                </div>
                                <span class="text-principal">Descrição:</span>
                                <span class="text-dados" th:text="${avaliacao.descricao}"></span>
                            </h5>

                        </div>
                        <div class="estrelas">
                            <label th:each="star : ${#numbers.sequence(1,5)}" th:class="${avaliacao.quantidadeEstrelas >= star} ? 'filled' : ''"><i class="fa"></i></label>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <script>
            document.querySelectorAll('.formulario-card').forEach((card) => {
                const cardId = card.id.split('_')[1];
                const selectElement = card.querySelector('select');

                if (selectElement) {
                    selectElement.addEventListener("change", function () {
                        document.getElementById(`cardapioId_${cardId}`).value = this.value;
                    });
                }

                card.querySelectorAll('input[name^="fb_"]').forEach((input) => {
                    input.addEventListener("change", function () {
                        document.getElementById(`quantidadeEstrelas_${cardId}`).value = this.value || "0";
                    });
                });

                card.querySelector('textarea[id^="descricao_"]').addEventListener("input", function () {
                    document.getElementById(`quantidadeEstrelas_${cardId}`).value = card.querySelector(`input[name="fb_${cardId}"]:checked`).value || "0";
                });
            });

        </script>

    </div>
</div>
</body>
