<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/cadastro-de-aviso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Cadastrar aviso</title>
</head>
<body>
<div class="navbar">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primary button" id="homeButton">Home</button>
        <button type="button" class="btn-primary button" id="meuPerfilButton">Meu perfil</button>
        <button type="button" class="btn-primary button" id="estatisticasButton">Estatísticas</button>
        <button type="button" class="btn-primary button" id="verAvaliacoesButton">Ver avaliações</button>
        <button type="button" class="btn-primary button" id="cadastrarCardapioButton">Cadastrar cardápio</button>
        <button type="button" class="btn-primary button" id="cadastrarAvisoButton">Cadastrar aviso</button>
        <button type="button" class="btn-primary button" id="solicitacoesAssistenciaButton">Solicitações de Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/usuario/tela-inicial-nutricionista";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil-nutricionista";
        };
        document.getElementById("estatisticasButton").onclick = function () {
            window.location.href = "/usuario/estatisticas-nutricionista";
        }
        document.getElementById("verAvaliacoesButton").onclick = function () {
            window.location.href = "/usuario/avaliacoes-nutricionista";
        };
        document.getElementById("cadastrarCardapioButton").onclick = function () {
            window.location.href = "/cardapio/cadastrar-cardapio-nutricionista";
        }
        document.getElementById("cadastrarAvisoButton").onclick = function () {
            window.location.href = "/aviso/cadastrar-aviso-nutricionista";
        }
        document.getElementById("solicitacoesAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitacoes-assistencia-nutricionista";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>
</div>

<div class="texto">

    <h1 class="tituloh1">Cadastro de aviso:</h1>
    <div class="container">
    <form action="/aviso/cadastrar-aviso-nutricionista/cadastrar-aviso" method="post">


        <label for="titulo" class="subtitulo">Titulo do aviso:</label>
        <br>
        <input class="inputtext" type="text" id="titulo" name="titulo" placeholder="Digite o título do aviso"><br><br>

        <label for="descricao" class="subtitulo">Descrição do aviso:</label><br>
        <textarea class="inputdescricao" id="descricao" name="descricao" placeholder="Digite a descrição do aviso"></textarea><br>


        <label for="data" class="subtitulo">Data do aviso:</label>
        <br>
        <input type="date" id="data" name="data"><br><br>

        <p th:if="${error}" class="alerta" th:text="${error}"></p>

        <button type="submit" class="btn-primary-aviso button-aviso">Cadastrar aviso</button>
    </form>
    </div>
</div>

</body>
</html>
