<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Cadastro de cardápio</title>
</head>
<body>
<div class="navbar">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primary button" id="homeButton">Home</button>
        <button type="button" class="btn-primary button" id="meuPerfilButton">Meu perfil</button>
        <button type="button" class="btn-primary button" id="estatisticasButton">Estatísticas</button>
        <button type="button" class="btn-primary button" id="verAvaliacoesButton">Ver avaliações</button>
        <button type="button" class="btn-primary button" id="cadastrarCardapioButton">Cadastrar cardápio</button>
        <button type="button" class="btn-primary button" id="cadastrarAvisoButton">Cadastrar aviso</button>
        <button type="button" class="btn-primary button" id="solicitacoesAssistenciaButton">Solicitações de Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/usuario/tela-inicial-nutricionista";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil-nutricionista";
        };
        document.getElementById("estatisticasButton").onclick = function () {
            window.location.href = "/usuario/estatisticas-nutricionista";
        }
        document.getElementById("verAvaliacoesButton").onclick = function () {
            window.location.href = "/usuario/avaliacoes-nutricionista";
        };
        document.getElementById("cadastrarCardapioButton").onclick = function () {
            window.location.href = "/cardapio/cadastrar-cardapio-nutricionista";
        }
        document.getElementById("cadastrarAvisoButton").onclick = function () {
            window.location.href = "/aviso/cadastrar-aviso-nutricionista";
        }
        document.getElementById("solicitacoesAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitacoes-assistencia-nutricionista";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>
</div>

<div class="texto">
    <h1>Cadastro de Cardápio</h1>
    <form action="/cardapio/cadastrar-cardapio-nutricionista/cadastrar-cardapio" method="post">
        <label for="tipo_cardapio">* Tipo de cardápio:</label>
        <select name="tipo_cardapio" id="tipo_cardapio">
            <option value="">--Selecione uma opção--</option>
            <option value="PRINCIPAL">Principal</option>
            <option value="VEGETARIANO">Vegetariano</option>
        </select><br><br>

        <label for="tipo_refeicao">* Tipo de refeição:</label>
        <select name="tipo_refeicao" id="tipo_refeicao">
            <option value="">--Selecione uma opção--</option>
            <option value="CAFE">Café</option>
            <option value="ALMOCO">Almoço</option>
            <option value="JANTAR">Jantar</option>
        </select><br><br>

        <label for="prato_principal">* Prato Principal:</label>
        <input type="text" id="prato_principal" name="prato_principal"><br><br>

        <label for="acompanhamento">* Acompanhamento:</label>
        <input type="text" id="acompanhamento" name="acompanhamento"><br><br>

        <label for="data">* Data do cardápio:</label>
        <input type="date" id="data" name="data"><br><br>

        <p th:if="${error}" class="error" th:text="${error}"></p>

        <button type="submit">Cadastrar cardápio</button>
    </form>
</div>

</body>
</html>
