<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Editar dados</title>
</head>
<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primarystyle button" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button" id="sobreORuButton">Sobre o RU</button>
        <button type="button" class="btn-primarystyle button" id="meuPerfilButton">Meu Perfil</button>
        <button type="button" class="btn-primarystyle button" id="avaliaçõesButton">Avaliações</button>
        <button type="button" class="btn-primarystyle button" id="solicitarAssistenciaButton">Solicitar Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/cardapio/tela-inicial-comum";
        };
        document.getElementById("sobreORuButton").onclick = function () {
            window.location.href = "/usuario/sobre-o-ru";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil";
        }
        document.getElementById("avaliaçõesButton").onclick = function () {
            window.location.href = "/usuario/avaliacoes";
        };
        document.getElementById("solicitarAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitar-assistencia";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>
</div>
<div class="form-editar-dados">
    <h2>Edição de dados pessoais</h2>
    <p>Confira os seus dados abaixo e confirme a edição para alterá-los.</p>
    <form action="/usuario/salvar-dados" method="post">
        <label>Nome completo:</label><br>
        <input id="campoNome" name="nome" type="text" th:value="${nome}"><br><br>
        <label>Email:</label><br>
        <input id="campoEmail" name="email" type="email" th:value="${email}">
        <div class="inputs-alinhados">
            <div class="filho-ia">
                <label>Idade:</label> <br>
                <input id="campoIdade" name="idade" class="campo-edicao" type="number" th:value="${idade}"> anos
            </div>
            <div class="filho-ia">
                <label>Peso:</label> <br>
                <input id="campoPeso" name="peso" class="campo-edicao" type="number" th:value="${peso}"> Kg
            </div>
            <div class="filho-ia">
                <label>Altura:</label> <br>
                <input id="campoAltura" name="altura" class="campo-edicao" type="number" th:value="${altura}"> m
            </div>
        </div>
        <div class="botoes">
            <input id="botao-confirmar" type="submit" value="Confirmar Alterações">
            <button id="botao-cancelar">Cancelar</button>
        </div>
    </form>

    <script>
        document.getElementById("botao-cancelar").onclick = function (event){
            event.preventDefault()
            window.history.back();
        }
    </script>
</div>
</div>
</body>
</html>