<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Meu perfil</title>
</head>
<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primarystyle button" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button" id="sobreORuButton">Sobre o RU</button>
        <button type="button" class="btn-primarystyle button" id="meuPerfilButton">Meu Perfil</button>
        <button type="button" class="btn-primarystyle button" id="avaliaçõesButton">Avaliações</button>
        <button type="button" class="btn-primarystyle button" id="solicitarAssistenciaButton">Solicitar Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/cardapio/tela-inicial-comum";
        };
        document.getElementById("sobreORuButton").onclick = function () {
            window.location.href = "/usuario/sobre-o-ru";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil";
        }
        document.getElementById("avaliaçõesButton").onclick = function () {
            window.location.href = "/usuario/avaliacoes";
        };
        document.getElementById("solicitarAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitar-assistencia";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>
</div>
<div class="texto-meu-perfil">
    <div class="conteudo-meu-perfil">
        <p id="nome-meu-perfil"><b>Nome: </b><span th:text="${nome}"></span></p>
        <p><b>Email: </b><span th:text="${email}"></span> <span class="bar-meu-perfil">|</span> <b>Senha: </b>•••••••• <span class="bar-meu-perfil">|</span> <b>Idade: </b><span th:text="${idade}+' anos'"></span> <span class="bar-meu-perfil">|</span> <b>Peso: </b><span th:text="${peso}+' Kg'"></span> <span class="bar-meu-perfil">|</span> <b>Altura: </b><span th:text="${altura}+' m'"></span></p>
        <div class="botoes">
            <button id="botao-editar">Editar dados</button>
            <button id="botao-senha">Redefinir senha</button>
            <button id="botao-apagar" data-toggle="modal" data-target="#confirmDeleteModal">Apagar conta</button>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar apagar conta?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Você tem certeza que deseja apagar sua conta? Esta ação não pode ser desfeita.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <form action="meu-perfil/apagar-conta" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Apagar Conta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            document.getElementById("botao-editar").onclick = function (){
                window.location.href = "/usuario/meu-perfil/editar-dados";
            }
        </script>
    </div>
</div>
</body>
</html>