<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Solicitar assistência</title>
</head>
<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primarystyle button" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button" id="sobreORuButton">Sobre o RU</button>
        <button type="button" class="btn-primarystyle button" id="meuPerfilButton">Meu Perfil</button>
        <button type="button" class="btn-primarystyle button" id="avaliaçõesButton">Avaliações</button>
        <button type="button" class="btn-primarystyle button" id="solicitarAssistenciaButton">Solicitar Assitência</button>
        <button type="button" class="btn-primarystyle button" id="assistenciasButton">Assistências solicitadas</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>

    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/cardapio/tela-inicial-comum";
        };
        document.getElementById("sobreORuButton").onclick = function () {
            window.location.href = "/usuario/sobre-o-ru";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil";
        }
        document.getElementById("avaliaçõesButton").onclick = function () {
            window.location.href = "/avaliacao/cadastrar";
        };
        document.getElementById("solicitarAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitar-assistencia";
        }
        document.getElementById("assistenciasButton").onclick = function () {
            window.location.href = "/assistencia/assistencias";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>

</div>
<div class="texto">
    <h1>Formulário de solicitação de assistência:</h1>
    <form action="/assistencia/solicitar-assistencia" method="post">
        <label for="motivo">* Motivo da solicitação:</label>
        <select name="motivo" id="motivo">
            <option value="">--Selecione um motivo--</option>
            <option value="Limitações de mobilidade">Limitações de mobilidade por conta de acidentes ou lesões</option>
            <option value="Deficiência">Deficiência que impede a movimentação pelo espaço do restaurante</option>
            <option value="Restrições alimentares">Restrições alimentares, sensibilidades e alergias</option>
            <option value="Limitações da idade">Limitações relacionadas à idade</option>
            <option value="Autismo ou outras condições">Autismo e/ou outras condições similares</option>
            <option value="Motivo não listado">Outro motivo (descreva melhor abaixo)</option>
        </select><br><br>
        <label for="data">* Data de assistência:</label>
        <input type="date" name="data" id="data"><br><br>
        <label for="horario">* Horário de assistência:</label>
        <input type="time" name="horario" id="horario"><br><br>
        <label for="descricao">* Descrição da Solicitação:</label><br>
        <textarea id="descricao" name="descricao" placeholder="Descreva aqui em detalhes o motivo da sua solicitação..." rows="10" cols="100"></textarea><br><br>

        <p th:if="${error}" class="error" th:text="${error}"></p>

        <button type="submit">Cadastrar solicitação de assistência</button>
    </form>
</div>
</body>
</html>