<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="stylesheet" href="/tela-inicial-comum.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Tela Inicial</title>
</head>
<body>
<div class="navbar">
    <h1 class="titulo">GRU</h1>

    <div class="button">
        <button type="button" class="btn-primary button" id="homeButton">Home</button>
        <button type="button" class="btn-primary button" id="sobreORuButton">Sobre o RU</button>
        <button type="button" class="btn-primary button" id="meuPerfilButton">Meu Perfil</button>
        <button type="button" class="btn-primary button" id="avaliaçõesButton">Avaliações</button>
        <button type="button" class="btn-primary button" id="solicitarAssistenciaButton">Solicitar Assitência</button>
        <button type="button" class="button btn-sair" id="sairButton">Sair</button>
    </div>

    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/cardapio/tela-inicial-comum";
        };
        document.getElementById("sobreORuButton").onclick = function () {
            window.location.href = "/usuario/sobre-o-ru";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil";
        }
        document.getElementById("avaliaçõesButton").onclick = function () {
            window.location.href = "/usuario/avaliacoes";
        };
        document.getElementById("solicitarAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitar-assistencia";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }

    </script>

</div>
<div class="conteudo-pagina">
    <h3 class="cabecalho">Aviso:</h3>
    <div th:if="${aviso != null}">
        <span th:text="${aviso.titulo}"></span> - <span th:text="${aviso.descricao}"></span>
    </div>
    <div th:unless="${aviso != null}">
        <span>Nenhum aviso encontrado</span>
    </div>
</div>

<div class="texto">
    <h3 class="cabecalho">Cardápio: </h3>
    <table>
        <tr>
            <th>Tipo de Refeição</th>
            <th>Acompanhamento</th>
            <th>Prato Principal</th>
        </tr>
        <tr th:each="cardapio : ${cardapios}">
            <td th:text="${cardapio.tipoRefeicao}"></td>
            <td th:text="${cardapio.acompanhamento}"></td>
            <td th:text="${cardapio.pratoPrincipal}"></td>
        </tr>
    </table>

    <section>
        <h3 class="cabecalho">Horário de funcionamento: </h3>

        <h4>Unidade Central</h4>
        <ul>
            <li> Café da manhã (exclusivo para estudantes residentes)</li>
            <p>
                – Segunda à sexta das 6h30 às 7h30.
                <br>
                – Sábados, domingos e feriados das 7h30 às 8h30
            </p>

            <li>Almoço</li>
            <p>
                – Segunda à sexta das 10h30 às 13h30.
                <br>
                – Sábados, domingos e feriados das 11h às 13h.
            </p>

            <li>Jantar</li>
            <p>
                – Segunda à sexta das 17h até às 19h.
                <br>
                – Sábados, domingos e feriados das 17h às 18h.
            </p>
        </ul>


        <h4>Unidade Biomédica</h4>
        <ul>
            <li>Almoço</li>
            <p> – Todos os dias, das 11h às 13h.</p>

            <li>Jantar</li>
            <p>
                – Segunda à sexta das 17h até às 18h45.
                <br>
                – Sábados, domingos e feriados das 17h às 18h.
            </p>

        </ul>

        <h4> Unidade Tecnológica</h4>
        <ul>
            <li>Almoço</li>
            <p> – Segunda à sexta das 11h às 13h.</p>
        </ul>
    </section>
</div>

</body>
</html>
