<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/nav-bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Tela Inicial</title>
</head>
<body>
<div class="navbarstyle">
    <h1 class="titulo">GRU</h1>

    <div class="button2">
        <button type="button" class="btn-primarystyle button2" id="homeButton">Home</button>
        <button type="button" class="btn-primarystyle button2" id="meuPerfilButton">Meu perfil</button>
        <button type="button" class="btn-primarystyle button2" id="estatisticasButton">Estatísticas</button>
        <button type="button" class="btn-primarystyle button2" id="verAvaliacoesButton">Ver avaliações</button>
        <button type="button" class="btn-primarystyle button2" id="cadastrarCardapioButton">Cadastrar cardápio</button>
        <button type="button" class="btn-primarystyle button2" id="cadastrarAvisoButton">Cadastrar aviso</button>
        <button type="button" class="btn-primarystyle button2" id="cadastrarNutricionistaButton">Cadastrar Nutricionista</button>
        <button type="button" class="btn-primarystyle button2" id="solicitacoesAssistenciaButton">Solicitações de Assitência</button>
        <button type="button" class="button2 btn-sair" id="sairButton">Sair</button>
    </div>


    <script>
        document.getElementById("homeButton").onclick = function () {
            window.location.href = "/usuario/tela-inicial-nutricionista";
        };
        document.getElementById("meuPerfilButton").onclick = function () {
            window.location.href = "/usuario/meu-perfil-nutricionista";
        };
        document.getElementById("estatisticasButton").onclick = function () {
            window.location.href = "/usuario/estatisticas-nutricionista";
        }
        document.getElementById("verAvaliacoesButton").onclick = function () {
            window.location.href = "/avaliacao/visualizar";
        };
        document.getElementById("cadastrarCardapioButton").onclick = function () {
            window.location.href = "/cardapio/cadastrar-cardapio-nutricionista";
        }
        document.getElementById("cadastrarAvisoButton").onclick = function () {
            window.location.href = "/aviso/cadastrar-aviso-nutricionista";
        }
        document.getElementById("solicitacoesAssistenciaButton").onclick = function () {
            window.location.href = "/usuario/solicitacoes-assistencia-nutricionista";
        }
        document.getElementById("cadastrarNutricionistaButton").onclick = function () {
            window.location.href = "/usuario/cadastrar-nutricionista";
        }
        document.getElementById("sairButton").onclick = function (){
            window.location.href = "/usuario/login";
        }


    </script>
</div>
<div class="texto">
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="bg-light">
        <tr class="rounded-top">
            <th scope="col">Nome</th>
            <th scope="col" class="email-column">E-mail</th>
            <th scope="col">IMC</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.nome}"></td>
            <td th:text="${pessoa.usuario.email}"></td>
            <td th:text="${pessoa.imc}" th:class="${pessoa.imc &lt; 20 ? 'imc-baixo' : (pessoa.imc &lt; 25 ? 'imc-normal' : (pessoa.imc &lt; 30 ? 'imc-alto' : 'obesidade'))}"></td>
        </tr>
        </tbody>

    </table>
</div>
</div>

</body>
</html>
